/* You can add global styles to this file, and also import other style files */
body {
  cursor: pointer;
  // background-color: rgb(1, 120, 114);
}

ul, li {
  list-style: none;
  list-style-type: none;
}
